@media (min-width: 768px) and (max-width: 1023px) {
    .jcc, .jcc-768{
        justify-content: center;
    }
    .description-box{
        margin-left: 0 !important;
        text-align: center;
        margin-top: 150px !important;
        max-width: 100% !important;
        .title{
            max-width: 100% !important;
            font-size: 2rem !important;
            line-height: 2.3rem !important;
        }

        .text{
            max-width: 100% !important;
            margin-top: 5px !important;
            font-size: 0.8rem !important;  
        }
    }
    #header{
        background-size: 120% 100% !important;
        background-position: left center !important;

        .description-box{
            margin-top: 220px !important;
        }
    }

    #how_it_works{
        .justify-content-between{
            justify-content: center !important;
        }

        .rectangle{
            display: none;

        }

        .first-part{
            .description-box{
                margin-top: 70px !important;
            }
        }
        
        .image-box{
            margin-top: 80px;
            text-align: center;
        }

        .second-part{
            margin-top: 0 !important;

            .description-box{
                padding-left: 0px !important;
                margin-top: 70px !important;
            }

            .image-box{
                max-width: 306px;
                margin-right: auto;
                margin-left: auto;
            }
        }

       

        
    }

    #progress{
        height: 525px !important;
        background: url(../images/progress-bg-small.png) no-repeat !important;
        background-size: cover !important;

        .description-box{
            margin-top: 320px !important;
        }
    }

    #without_calls_and_sms{
        height: 650px !important;
        
        .image-box{
            margin: 0 auto 0 auto;
        }

        .description-box{
            
            margin-top: 0px !important;
        }
    }

    #motivation{
        background-size: cover !important;
        background-position: right center !important;

        .description-box{
            margin-top: 240px !important;
        }
    }

}