* {
    font-family: 'Roboto-medium';
    font-size: 16px
}

a.button {
    font-family: 'Roboto-bold';
    text-decoration: none;
    color: #000;
    background: #CCFF00;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    padding: 0.9375rem 1.4375rem;
    border-radius: 0.625rem;

    &:hover{
        text-decoration: none;
        color: #363636;
    }
}

.z-index-1{
    z-index: 1;
}

.z-index-2{
    z-index: 2;
}



#header, #header_subscription, #header_success{
    .logo-box{
        margin-top: 1.75rem;
        display: flex;
        align-items: center;

        .logo{
            cursor: pointer;
        }

        .br-r{
            height: 2.5rem;
            background: #757575;
            width: 0.0625rem;
            margin-right: 0.9375rem;
            margin-left: 0.9375rem;
        }
        
        .logo-description{
            font-size: 0.75rem;
            line-height: 0.8125rem;
            letter-spacing: 0.025rem;
        }
    }
}

#header, #footer{
    .description-box{
        margin-top: 6.9375rem;
        
        .title{
            color: #fff;
            font-family: 'Roboto-bold';
            font-size: 3.75rem;
            line-height: 3.8125rem;
            letter-spacing: normal;
        }

        .text{
            margin-top: 1.0625rem;
            margin-bottom: 2.5rem;
            max-width: 430px;
            color: #969696;
            line-height: 1.1875rem;
            letter-spacing: 0.015rem;
        }
    }
}

#header{
    background: url('../images/header_bg.png') no-repeat #000;
    background-size: 100%;
    height: 31.25rem;

    .logo-box{
        .logo-description{
            color: #9B9B9B;
        }
    }

    .description-box{
        max-width: 430px;
    }
}

#how_it_works, #progress, #without_calls_and_sms, #motivation{
    
    .description-box{
        margin-top: 7.3125rem;
        .title{
            color: #000;
            font-family: 'Roboto-bold';
            font-size: 3rem;
            line-height: 3.1875rem;
            letter-spacing: 0.012rem;
        }

        .text{
            max-width: 375px;
            margin-top: 0.875rem;
            margin-bottom: 2.5rem;
            color: #808080;
            font-size: 1rem;
            line-height: 1.1875rem;
            letter-spacing: 0.01rem;
        }

        a.button{
            padding: 0.625rem 1.25rem;
            box-shadow: 0rem 0.03125rem 0rem #000000;
        }
    }
}

#how_it_works{
    
    .first-part{

        .image-box{
            margin-top: 4.6875rem;

            .author{
                margin-top: 0.8125rem;
                
                img{
                    width: 1.4375rem;
                    height: 1.4375rem;
                
                }

                .name{
                    font-family: 'Roboto-bold';
                    margin-left: 0.375rem;
                    font-size: 0.875rem;
                    letter-spacing: 0.009rem;
                    line-height: 0.900rem;
                    color: #000;
                }
            }
        }
    }

    .rectangle{
        margin-top: -13rem;
        width: 100%;
        height: 37.5rem;
        background: #CCFF00;
        clip-path: polygon(0 50%, 100% 0%, 100% 50%, 0 100%);
    }

    .second-part{
        margin-top: -16.5625rem;
        margin-bottom: 7.1875rem;
        .image-box{
            position: relative;
            
            img{
                width: 19.125rem;
                height: 33.9375rem;
                border: 0.0625rem solid #DDDDDD;
            }

            .slider{
                position: absolute;
                top: 0;
                left: 0.1875rem;
                width: 18.75rem;

                .slider-nav{
                    position: relative;
                    top: 9.0625rem;
                    text-align: center;
                    color: #9b9b9b;


                    p.slider-nav-link{
                        font-size: 0.70rem;
                        font-family: 'Roboto-bold';
                        text-transform: uppercase;
                        margin-right: 0.75rem;
                        display: inline-block;

                        &:hover{
                            text-decoration: none;
                            cursor: pointer;
                            color:#000;
                        }
                    }
                    
                    .active{
                        border-bottom: 0.125rem solid #000;
                        color:#000;
                        
                    }
                }

                .slides-box{
                    height: 22.5rem;
                    width: 100%;
                    background: #fff;
                    position: relative;
                    top: 8.75rem;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    overflow: hidden;

                    

                    .slide{
                        img{
                            width: 18.75rem;
                            height: 100%;
                            border: none;
                        }
                    }
                }
            }
        }

        .description-box{
            margin-top: 12.5rem;
            padding-left: 1.875rem;

            .text{
                max-width: 410px;
            }
        }
    }
}

#progress{
    background-color: #000;
    background: url(../images/progress-bg.png) no-repeat;
    height: 31.25rem;

    .description-box{
        margin-top: 9.0625rem;

        .title{
            color: #fff;
        }
    }

}

#without_calls_and_sms{
    height: 31.25rem;

    .container, .row{
        height: 100%;
    }
    
    .image-box{
        img{
            width: 24.4375rem;
            height: 18.3125rem;
        }
    }

    .description-box{
        margin-top: 0;
        margin-left: 1.625rem;

        .text{
            max-width: 475px;
        }
    }
}

#motivation{
    height: 31.25rem;
    background: url(../images/motivation-bg.png);

    .container, .row{
        height: 100%;
    }

    .description-box{
        margin-top: 0;
        .title{
            color: #fff;
        }
    }
}

#coaches{
    height: 28.75rem;

    .container, .row{
        height: 100%;
    }

    .owl-carousel{
        margin-top: 4.375rem;
    }

    .card{
        max-width: 35rem;
        text-align: center;
        border: none;

        .photo{
            width: 6.25rem;
            height: 6.25rem;
            margin: 0 auto;

            img{
                border-radius: 50%;
            }
            
        }

        .name{
            margin-top: 0.9375rem;
            color: #000;
            font-family: 'Roboto-bold';
            font-size: 	1.25rem;
            line-height: 1.3125rem;
            letter-spacing: 0.019rem;
        }

        .who, a.profile{
            margin-top: 0.3125rem;
            color: #a7a7a8;
            font-size: 0.8125rem;
            line-height: 0.875rem;
            letter-spacing: 0.020rem;
        }

        .about{
            margin: 0.875rem auto 2rem auto;
            max-width: 343px;
            color: #808080;
            font-size: 0.875rem;
            line-height: 1rem;
            letter-spacing: 0.01rem;
        }

        a.profile{
            border-bottom: 0.0625rem solid #a7a7a8;
            max-width: 170px;
            margin-left: auto;
            margin-right: auto;

            &:hover{
                color: #606060;
                border-color: #606060;
                text-decoration: none;
            }
        }
    }
}

#footer{
    height: 43.75rem;
    background: #000;

    .container{
        height: 100%;
    }

    .description-box{
        margin-top: 5rem;
    }


    .mt-15{
        margin-top: 0.9375rem;
    }

    .hr{
        margin-top: 5.9375rem;
        height: 0.0625rem;
        background: #696969;
    }

    .socials{
        margin-top: 2.1875rem;
        margin-bottom: 2.1875rem;
        a{
            margin-right: 0.875rem;
            &:hover{
                text-decoration: none;
            }
        }
    }

    .links{
        a{
            color: #7f7f7f;
            font-size: 1rem;
            line-height: 1.3125rem;
            letter-spacing: 0.02rem;
        }
    }

    .copyrights{
        margin-top: 2.5rem;
        color: #5f5f5f;
        font-size: 0.8125rem;
        line-height: 0.875rem;
        letter-spacing: -0.006rem;
    }
}