@media (min-width: 1024px) and (max-width: 1279px) {
    .jcc{
        justify-content: center;
    }

    #header, #how_it_works{
        .description-box{
           
            .title{
                font-size: 2rem !important;
                line-height: 2.5rem !important;
            }

            .text{
                margin-top: 0 !important;
                margin-bottom: 1.25rem !important;
                font-size: 0.85rem !important;
            }

            .button{
                font-size: 0.9rem !important;
                line-height: 1.1rem !important; 
                padding: 0.625rem 0.9375rem;
            }
        }
    }
    
    #header{
        height: 25rem !important;
        background-size: 120% !important;
        
        .jcc {
            justify-content: space-between !important;
        }
        .logo-box{
            margin-left: 2.625rem;
        }

        .description-box{
            margin-top: 4.375rem!important;
            max-width: 18.125rem !important;
            margin-left: 2.625rem;
        }
    }

    #how_it_works{

        .first-part{
            
            .description-box{
                max-width: 20rem;
                
                .title{
                    font-size: 1.5rem !important;
                    line-height: 1.8rem !important;
                    margin-bottom: 0.3125rem;
                }

            }
        }

        .second-part {
            margin-top: -11.875rem !important;
            
            .image-box{
                img.slide-box {
                    width: 17.5rem !important;
                    height: 30rem !important;
                } 
            }

            .description-box{
                max-width: 28.125rem;
                
                .title{
                    font-size: 1.5rem !important;
                    line-height: 1.8rem !important;
                    margin-bottom: 0.3125rem;
                }
            }
        }
        
        .rectangle{
            height: 30rem !important;
        }

        .rectangle-edge{
            height: 30rem !important;
            background-size: cover !important;
        }
        
        .justify-content-between{
            justify-content: center !important;
        }
    }

    #progress{
        height: 25rem !important;
        background-position: 35% center !important;
        background-size: cover !important;

        .description-box{
            margin-top: 7.9375rem !important;
            margin-left: 2.625rem;
            .title{
                font-size: 1.5rem !important;
                line-height: 1.8rem !important;
                margin-bottom: 0.3125rem;
            }

            .text{
                margin-top: 0 !important;
                margin-bottom: 1.25rem !important;
                font-size: 0.85rem !important;
            }

            .button{
                font-size: 0.9rem !important;
                line-height: 1.1rem !important; 
                padding: 0.625rem 0.9375rem;
            }
        }
    }

    #without_calls_and_sms{
        height: 25rem !important;
        
        .image-box{
            margin-left: 2.625rem;
            
            img{
               width: 20.625rem !important;
               height: 17.5rem !important; 
            }
        }

        .description-box{
            .title{
                font-size: 1.5rem !important;
                line-height: 1.8rem !important;
                margin-bottom: 0.3125rem;
            }

            .text{
                margin-top: 0 !important;
                margin-bottom: 1.25rem !important;
                font-size: 0.85rem !important;
            }

            .button{
                font-size: 0.9rem !important;
                line-height: 1.1rem !important; 
                padding: 0.625rem 0.9375rem;
            }
        }
    }

    #motivation{
        height: 25rem !important;
        background-position: right center !important;
        background-size: cover !important;

        .description-box{
            margin-top: -0.625rem !important ;
            margin-left: 2.625rem;
            .title{
                font-size: 1.5rem !important;
                line-height: 1.8rem !important;
                margin-bottom: 0.3125rem;
            }

            .text{
                margin-top: 0 !important;
                margin-bottom: 1.25rem !important;
                font-size: 0.85rem !important;
            }

            .button{
                font-size: 0.9rem !important;
                line-height: 1.1rem !important; 
                padding: 0.625rem 0.9375rem;
            }
        }
    }

    #footer{
        height: 34.6875rem !important;

        .description-box{
            
            margin-left: 2.625rem;
            .title{
                font-size: 1.5rem !important;
                line-height: 1.8rem !important;
                margin-bottom: 0.3125rem;
            }

            .text{
                margin-top: 0 !important;
                margin-bottom: 1.25rem !important;
                font-size: 0.85rem !important;
            }

            .button{
                font-size: 0.9rem !important;
                line-height: 1.1rem !important; 
                padding: 0.625rem 0.9375rem;
            }
        }

        .hr{
            margin-top: 4.0625rem !important;
            margin-left: -2.375rem;
            width: 52.625rem;
        }

        .socials , .links-box, .copyrights{
            margin-left: 2.625rem;
        }
    }
}