#header_subscription, #header_success{
    height: 20.9375rem;
    background: #CCFF00;

    .logo-box{
        .logo-description{
            color: #000;
            opacity: 0.5;
        }
    }

    .header-title-box{
        margin-top: 6.5625rem;
        max-width: 25rem;

        .title{
            color: #000;
            font-size: 3rem;
            line-height: 3.1875rem;
            letter-spacing: 0.012rem;
            font-family: 'Roboto-bold';
        }

        .description{
            margin-top: 0.5rem;
            color: #000;
            opacity: 0.5;
            letter-spacing: 0.02rem;
            font-size: 1rem;
        }
    }
}

#content{
    background: #fff;
    height: 30rem;

    .pl-none{
        padding-right: 0;
    }

    form{
        margin-top: 2.8125rem;
        max-width: 26.875rem;

        .form-control{
            padding: 0.5625rem 1.25rem;
            height: 2.8125rem;
            border-radius: 0.5rem;
            border-color: #ADADAD;
            color: #222326;
            letter-spacing: 0.02rem;

            &::placeholder{
                color: #222326;
            }
        }

        label{
            margin-top: 0.625rem;
            .checkbox {
                display: none;
            }
    
            .checkbox-custom {
                position: relative;
                top: -0.0625rem;   
                width: 1.5rem;           
                height: 1.5rem;           
                border: 0.0625rem solid #ADADAD;
                border-radius: 0.25rem;
            }
            
            .checkbox-custom, .label {
                cursor: pointer;
                display: inline-block;
            }
            
            .label{
                max-width: 24.375rem;
                color: #4c4c4c;
                font-size: 0.75rem;
                line-height: 0.9375rem;
                letter-spacing: 0.02rem;
            }
           
            .checkbox:checked + .checkbox-custom::before {
                content: "✔";            
                display: block;			
                position: absolute;   
                left: 0.1875rem;
                top: -0.125rem;
                font-size: 1.1rem;
            }
        }
        
        .button{
            cursor: pointer;
            margin-top: 2.5rem;
            background: #CCFF00;
            display: block;
            padding: 0.75rem 2.75rem;
            font-family: 'Roboto-bold';
            font-size: 	1.125rem;
            line-height: 1.3125rem;
            box-shadow: 0 0.03125rem 0 #000000;
            border-radius: 0.625rem;
            border: none;

        }
    }
}

.footer_subscription{
    height: 16.875rem !important;
}