@media (min-width: 320px) and (max-width: 767px) {
    
    #header_subscription, #header_success{
        height: 100% !important;

        .logo-box{
            margin-top: 1.3125rem !important;
            padding-left: 0.5625rem;
            .br-r, .logo-description{
                display: none;
            }

            .logo{
                img{
                    width: 9.375rem;
                }
            }
        }

        .header-title-box{
            max-width: 15.25rem !important;
            padding-left: 0.5625rem;
            margin-top: 3.4375rem !important;

            .title{
                font-size: 1.4375rem !important;
                line-height: 1.5rem !important;
                letter-spacing: 0.019rem !important;
            }

            .description{
                font-size: 1rem !important;
                margin-bottom: 1.875rem;
            }
        }
    }

    #header_success{

        .header-title-box{
            margin-top: 5rem !important;
        }
    }

    #content{
        height: 100% !important;
        .pl-none{
            padding-right: 0.3125rem !important;
        }

        form{
            margin-top: 1.75rem !important;
            padding-left: 0.5625rem;
            padding-right: 0.5625rem;

            .label{
                max-width: 18.4375rem !important;
                margin-top: 0.25rem;
            }

            .checkbox-custom{
                top: -1.0625rem !important;
            }

            .button{
                margin-top: 1rem !important;
                display: block !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
                width: 100%;
                margin-bottom: 7.1875rem;
            }
        }

        .social-box{
            margin-top: 1.5rem !important;
            padding-left: 0.5625rem;
            padding-right: 0.5625rem;

            .title{
                font-size: 1.4375rem !important;
                line-height: 1.5rem !important;
                letter-spacing: 0.019rem !important;
            }

            .social-buttons{
                margin-bottom: 7.375rem;

                a{
                    max-width: 100% !important;
                }
            }
        }
    }

    #footer{
        h100
        .socials{
            margin-top: 1.125rem !important;
        }

        .socials, .links-box, .copyrights{
            padding-left: 1.375rem !important;
        }
    }
}

@media (min-width: 320px) and (max-width: 375px) {

    .social-buttons{
        a{
            font-size: 1rem !important;
        }
        
    }
}