@font-face {
  font-family: 'Roboto-medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?iefix") format("eot"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../ffonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?iefix") format("eot"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../ffonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?iefix") format("eot"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../ffonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?34276115");
  src: url("../fonts/fontello.eot?34276115#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?34276115") format("woff2"), url("../fonts/fontello.woff?34276115") format("woff"), url("../fonts/fontello.ttf?34276115") format("truetype"), url("../fonts/fontello.svg?34276115#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1rem;
  margin-right: .2rem;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1rem;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2rem;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before {
  content: '\e800';
}

/* '' */

.icon-instagram:before {
  content: '\e801';
}

/* '' */
@media (min-width: 1024px) and (max-width: 1279px) {
  .jcc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #header .description-box .title,
  #how_it_works .description-box .title {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }

  #header .description-box .text,
  #how_it_works .description-box .text {
    margin-top: 0 !important;
    margin-bottom: 1.25rem !important;
    font-size: 0.85rem !important;
  }

  #header .description-box .button,
  #how_it_works .description-box .button {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
    padding: 0.625rem 0.9375rem;
  }

  #header {
    height: 25rem !important;
    background-size: 120% !important;
  }

  #header .jcc {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }

  #header .logo-box {
    margin-left: 2.625rem;
  }

  #header .description-box {
    margin-top: 4.375rem !important;
    max-width: 18.125rem !important;
    margin-left: 2.625rem;
  }

  #how_it_works .first-part .description-box {
    max-width: 20rem;
  }

  #how_it_works .first-part .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 0.3125rem;
  }

  #how_it_works .second-part {
    margin-top: -11.875rem !important;
  }

  #how_it_works .second-part .image-box img.slide-box {
    width: 17.5rem !important;
    height: 30rem !important;
  }

  #how_it_works .second-part .description-box {
    max-width: 28.125rem;
  }

  #how_it_works .second-part .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 0.3125rem;
  }

  #how_it_works .rectangle {
    height: 30rem !important;
  }

  #how_it_works .rectangle-edge {
    height: 30rem !important;
    background-size: cover !important;
  }

  #how_it_works .justify-content-between {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  #progress {
    height: 25rem !important;
    background-position: 35% center !important;
    background-size: cover !important;
  }

  #progress .description-box {
    margin-top: 7.9375rem !important;
    margin-left: 2.625rem;
  }

  #progress .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 0.3125rem;
  }

  #progress .description-box .text {
    margin-top: 0 !important;
    margin-bottom: 1.25rem !important;
    font-size: 0.85rem !important;
  }

  #progress .description-box .button {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
    padding: 0.625rem 0.9375rem;
  }

  #without_calls_and_sms {
    height: 25rem !important;
  }

  #without_calls_and_sms .image-box {
    margin-left: 2.625rem;
  }

  #without_calls_and_sms .image-box img {
    width: 20.625rem !important;
    height: 17.5rem !important;
  }

  #without_calls_and_sms .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 0.3125rem;
  }

  #without_calls_and_sms .description-box .text {
    margin-top: 0 !important;
    margin-bottom: 1.25rem !important;
    font-size: 0.85rem !important;
  }

  #without_calls_and_sms .description-box .button {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
    padding: 0.625rem 0.9375rem;
  }

  #motivation {
    height: 25rem !important;
    background-position: right center !important;
    background-size: cover !important;
  }

  #motivation .description-box {
    margin-top: -0.625rem !important;
    margin-left: 2.625rem;
  }

  #motivation .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 0.3125rem;
  }

  #motivation .description-box .text {
    margin-top: 0 !important;
    margin-bottom: 1.25rem !important;
    font-size: 0.85rem !important;
  }

  #motivation .description-box .button {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
    padding: 0.625rem 0.9375rem;
  }

  #footer {
    height: 34.6875rem !important;
  }

  #footer .description-box {
    margin-left: 2.625rem;
  }

  #footer .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 0.3125rem;
  }

  #footer .description-box .text {
    margin-top: 0 !important;
    margin-bottom: 1.25rem !important;
    font-size: 0.85rem !important;
  }

  #footer .description-box .button {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
    padding: 0.625rem 0.9375rem;
  }

  #footer .hr {
    margin-top: 4.0625rem !important;
    margin-left: -2.375rem;
    width: 52.625rem;
  }

  #footer .socials,
  #footer .links-box,
  #footer .copyrights {
    margin-left: 2.625rem;
  }
}
@media (min-width: 1280px) and (max-width: 1400px) {
  .jcc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #header {
    background-size: 120% !important;
    height: 26.9375rem !important;
  }

  #header .description-box {
    margin-top: 4.375rem !important;
    max-width: 26.875rem;
  }

  #how_it_works .first-part .description-box {
    margin-left: 5.375rem;
  }

  #how_it_works .first-part .description-box .title {
    width: 28.75rem;
  }

  #how_it_works .rectangle {
    -webkit-clip-path: polygon(0 41%, 100% 1%, 100% 57%, 0 96%) !important;
    clip-path: polygon(0 41%, 100% 1%, 100% 57%, 0 96%) !important;
    height: 31.25rem !important;
    margin-top: -8.75rem !important;
  }

  #how_it_works .rectangle-edge {
    background-size: cover !important;
    height: 35rem !important;
    background-position-x: -110px !important;
  }

  #how_it_works .second-part {
    margin-top: -14.375rem !important;
  }

  #how_it_works .second-part .image-box {
    margin-left: 5.375rem;
  }

  #progress {
    background-position: center !important;
  }

  #progress .description-box {
    margin-left: 5.375rem;
  }

  #without_calls_and_sms .image-box img {
    width: 19.125rem !important;
    height: 15.625rem !important;
    margin-left: 5.375rem;
  }

  #without_calls_and_sms .description-box .text {
    max-width: 27.5rem !important;
  }

  #motivation {
    height: 31.25rem !important;
    background-position: right center !important;
    background-size: 125% 100% !important;
    background-repeat: no-repeat !important;
  }

  #motivation .description-box {
    margin-left: 5.375rem;
  }

  #footer .description-box {
    margin-left: 5.375rem;
  }

  #footer .socials {
    margin-left: 5.8125rem;
  }

  #footer .links-box {
    margin-left: 5.8125rem;
  }

  #footer .copyrights {
    margin-left: 5.8125rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .description-box {
    padding-left: 0.5625rem !important;
    padding-right: 0.5625rem !important;
    margin-left: 0 !important;
  }

  .description-box a.button {
    padding-top: 0.6875rem !important;
    padding-bottom: 0.6875rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: block;
    text-align: center;
  }

  #how_it_works .description-box,
  #without_calls_and_sms .description-box,
  #progress .description-box,
  #motivation .description-box {
    text-align: center;
  }

  #how_it_works .description-box .title,
  #without_calls_and_sms .description-box .title,
  #progress .description-box .title,
  #motivation .description-box .title {
    font-size: 1.4375rem !important;
    line-height: 1.5rem !important;
    letter-spacing: 0.019rem;
  }

  #how_it_works .description-box .text,
  #without_calls_and_sms .description-box .text,
  #progress .description-box .text,
  #motivation .description-box .text {
    font-size: 0.875rem !important;
    line-height: 1rem !important;
    letter-spacing: 0.01rem;
    margin-bottom: 1.125rem !important;
  }

  #header {
    background: url("../images/header_bg-small.png") no-repeat !important;
    height: 32.8125rem !important;
    background-size: cover !important;
  }

  #header .logo-box {
    padding-left: 0.5625rem;
    margin-top: 1.4375rem !important;
  }

  #header .logo-box .br-r,
  #header .logo-box .logo-description {
    display: none;
  }

  #header .logo-box .logo img {
    width: 9.375rem;
  }

  #header .description-box {
    margin-top: 12.5rem !important;
  }

  #header .description-box .title {
    font-size: 2.875rem !important;
    line-height: 2.9375rem !important;
  }

  #header .description-box .text {
    margin-top: 0.625rem !important;
    margin-bottom: 1.625rem !important;
    font-size: 1rem !important;
    line-height: 1.1875rem !important;
    max-width: 17.8125rem !important;
    letter-spacing: 0.040rem !important;
  }

  #how_it_works .justify-content-between {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  #how_it_works .rectangle {
    display: none;
  }

  #how_it_works .first-part .description-box {
    margin-top: 2.625rem !important;
  }

  #how_it_works .first-part .image-box {
    margin-top: 2.5rem !important;
  }

  #how_it_works .first-part .image-box img {
    max-width: 20.3125rem !important;
  }

  #how_it_works .first-part .image-box .author .name {
    font-size: 0.625rem !important;
    line-height: 0.6875rem !important;
    letter-spacing: 0.019rem !important;
  }

  #how_it_works .first-part .image-box .author img {
    width: 1.0625rem !important;
    height: 1.0625rem !important;
  }

  #how_it_works .second-part {
    margin-top: 3.5625rem !important;
    margin-bottom: 3.4375rem !important;
  }

  #how_it_works .second-part .image-box {
    margin-top: 0 !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 247px !important;
  }

  #how_it_works .second-part .image-box .slider {
    max-width: 247px !important;
    height: 27.375rem;
    width: 15.0625rem !important;
  }

  #how_it_works .second-part .image-box .slider .slider-nav {
    top: 7.375rem !important;
  }

  #how_it_works .second-part .image-box .slider .slider-nav p.slider-nav-link {
    font-size: 0.6rem !important;
    margin-right: 0.375rem !important;
  }

  #how_it_works .second-part .image-box .slider .slides-box {
    height: 17.125rem !important;
    width: 15.0625rem !important;
    top: 7.625rem !important;
  }

  #how_it_works .second-part .image-box .slider .slides-box .slide img {
    height: 100% !important;
  }

  #how_it_works .second-part .image-box img {
    border: 0.0625rem solid #DDDDDD;
    width: 15.4375rem !important;
    height: 27.375rem !important;
  }

  #how_it_works .second-part .description-box {
    margin-top: 2.5rem !important;
  }

  #progress {
    height: 32.8125rem !important;
    background: url("../images/progress-bg-xs.png") no-repeat !important;
    background-size: cover !important;
  }

  #progress .description-box {
    margin-top: 20rem !important;
  }

  #progress .description-box .text {
    margin-bottom: 1.5625rem !important;
  }

  #without_calls_and_sms {
    height: 34.0625rem !important;
  }

  #without_calls_and_sms .align-items-center {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }

  #without_calls_and_sms .image-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.75rem;
  }

  #without_calls_and_sms .image-box img {
    max-width: 20.3125rem !important;
    max-height: 15rem !important;
  }

  #without_calls_and_sms .description-box {
    margin-top: -0.9375rem !important;
  }

  #motivation {
    height: 24.375rem !important;
    background: url("../images/motivation-bg-xs.png") no-repeat !important;
    background-size: cover !important;
  }

  #motivation .description-box {
    margin-top: 9.0625rem !important;
  }

  #motivation .description-box .text {
    margin-top: 0.9375rem !important;
    margin-bottom: 1.625rem !important;
  }

  #coaches {
    height: 25rem !important;
  }

  #coaches .owl-carousel {
    margin-top: 3.125rem !important;
  }

  #coaches .owl-dots {
    margin-top: 2.375rem !important;
  }

  #coaches .card {
    padding: 0 0.5625rem;
  }

  #footer {
    height: 100% !important;
  }

  #footer .description-box {
    margin-top: 2.25rem !important;
  }

  #footer .description-box .title {
    font-size: 2.5rem !important;
    line-height: 2.5625rem !important;
  }

  #footer .description-box .text {
    margin-bottom: 1.5rem !important;
  }

  #footer .mt-15 {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }

  #footer .hr {
    margin-top: 1.5625rem !important;
  }

  #footer .socials {
    margin-bottom: 2rem !important;
  }

  #footer .socials,
  #footer .links-box,
  #footer .copyrights {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
  }

  #footer .copyrights {
    margin-bottom: 1.0625rem;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  #header .description-box .title,
  #footer .description-box .title {
    font-size: 2rem !important;
    line-height: 2.2rem !important;
  }

  #header .copyrights,
  #footer .copyrights {
    font-size: 0.7rem !important;
  }

  #how_it_works .first-part .image-box img {
    max-width: 18.125rem !important;
  }

  #without_calls_and_sms .image-box img {
    max-width: 18.125rem !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .jcc,
  .jcc-768 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .description-box {
    margin-left: 0 !important;
    text-align: center;
    margin-top: 9.375rem !important;
    max-width: 100% !important;
  }

  .description-box .title {
    max-width: 100% !important;
    font-size: 2rem !important;
    line-height: 2.3rem !important;
  }

  .description-box .text {
    max-width: 100% !important;
    margin-top: 0.3125rem !important;
    font-size: 0.8rem !important;
  }

  #header {
    background-size: 120% 100% !important;
    background-position: left center !important;
  }

  #header .description-box {
    margin-top: 13.75rem !important;
  }

  #how_it_works .justify-content-between {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  #how_it_works .rectangle {
    display: none;
  }

  #how_it_works .first-part .description-box {
    margin-top: 4.375rem !important;
  }

  #how_it_works .image-box {
    margin-top: 5rem;
    text-align: center;
  }

  #how_it_works .second-part {
    margin-top: 0 !important;
  }

  #how_it_works .second-part .description-box {
    padding-left: 0rem !important;
    margin-top: 4.375rem !important;
  }

  #how_it_works .second-part .image-box {
    max-width: 19.125rem;
    margin-right: auto;
    margin-left: auto;
  }

  #progress {
    height: 525px !important;
    background: url("../images/progress-bg-small.png") no-repeat !important;
    background-size: cover !important;
  }

  #progress .description-box {
    margin-top: 320px !important;
  }

  #without_calls_and_sms {
    height: 650px !important;
  }

  #without_calls_and_sms .image-box {
    margin: 0 auto 0 auto;
  }

  #without_calls_and_sms .description-box {
    margin-top: 0px !important;
  }

  #motivation {
    background-size: cover !important;
    background-position: right center !important;
  }

  #motivation .description-box {
    margin-top: 240px !important;
  }
}
* {
  font-family: 'Roboto-medium';
  font-size: 16px;
}

a.button {
  font-family: 'Roboto-bold';
  text-decoration: none;
  color: #000;
  background: #CCFF00;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  padding: 0.9375rem 1.4375rem;
  border-radius: 0.625rem;
}

a.button:hover {
  text-decoration: none;
  color: #363636;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

#header .logo-box,
#header_subscription .logo-box,
#header_success .logo-box {
  margin-top: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header .logo-box .logo,
#header_subscription .logo-box .logo,
#header_success .logo-box .logo {
  cursor: pointer;
}

#header .logo-box .br-r,
#header_subscription .logo-box .br-r,
#header_success .logo-box .br-r {
  height: 2.5rem;
  background: #757575;
  width: 0.0625rem;
  margin-right: 0.9375rem;
  margin-left: 0.9375rem;
}

#header .logo-box .logo-description,
#header_subscription .logo-box .logo-description,
#header_success .logo-box .logo-description {
  font-size: 0.75rem;
  line-height: 0.8125rem;
  letter-spacing: 0.025rem;
}

#header .description-box,
#footer .description-box {
  margin-top: 6.9375rem;
}

#header .description-box .title,
#footer .description-box .title {
  color: #fff;
  font-family: 'Roboto-bold';
  font-size: 3.75rem;
  line-height: 3.8125rem;
  letter-spacing: normal;
}

#header .description-box .text,
#footer .description-box .text {
  margin-top: 1.0625rem;
  margin-bottom: 2.5rem;
  max-width: 430px;
  color: #969696;
  line-height: 1.1875rem;
  letter-spacing: 0.015rem;
}

#header {
  background: url("../images/header_bg.png") no-repeat #000;
  background-size: 100%;
  height: 31.25rem;
}

#header .logo-box .logo-description {
  color: #9B9B9B;
}

#header .description-box {
  max-width: 430px;
}

#how_it_works .description-box,
#progress .description-box,
#without_calls_and_sms .description-box,
#motivation .description-box {
  margin-top: 7.3125rem;
}

#how_it_works .description-box .title,
#progress .description-box .title,
#without_calls_and_sms .description-box .title,
#motivation .description-box .title {
  color: #000;
  font-family: 'Roboto-bold';
  font-size: 3rem;
  line-height: 3.1875rem;
  letter-spacing: 0.012rem;
}

#how_it_works .description-box .text,
#progress .description-box .text,
#without_calls_and_sms .description-box .text,
#motivation .description-box .text {
  max-width: 375px;
  margin-top: 0.875rem;
  margin-bottom: 2.5rem;
  color: #808080;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.01rem;
}

#how_it_works .description-box a.button,
#progress .description-box a.button,
#without_calls_and_sms .description-box a.button,
#motivation .description-box a.button {
  padding: 0.625rem 1.25rem;
  -webkit-box-shadow: 0rem 0.03125rem 0rem #000000;
  box-shadow: 0rem 0.03125rem 0rem #000000;
}

#how_it_works {
  position: relative;
}

#how_it_works .first-part .image-box {
  margin-top: 4.6875rem;
}

#how_it_works .first-part .image-box .author {
  margin-top: 0.8125rem;
}

#how_it_works .first-part .image-box .author img {
  width: 1.4375rem;
  height: 1.4375rem;
}

#how_it_works .first-part .image-box .author .name {
  font-family: 'Roboto-bold';
  margin-left: 0.375rem;
  font-size: 0.875rem;
  letter-spacing: 0.009rem;
  line-height: 0.900rem;
  color: #000;
}

#how_it_works .rectangle {
  margin-top: -13rem;
  width: 100%;
  height: 37.5rem;
  background: #CCFF00;
  -webkit-clip-path: polygon(0 50%, 100% 0%, 100% 50%, 0 100%);
  clip-path: polygon(0 50%, 100% 0%, 100% 50%, 0 100%);
}

#how_it_works .rectangle-edge {
  margin-top: -13rem;
  width: 100%;
  height: 37.5rem;
  background: url("../images/rectangle.png") no-repeat;
}

#how_it_works .second-part {
  margin-top: -16.5625rem;
  margin-bottom: 7.1875rem;
}

#how_it_works .second-part .image-box {
  position: relative;
}

#how_it_works .second-part .image-box img {
  width: 19.125rem;
  height: 33.9375rem;
  border: 0.0625rem solid #DDDDDD;
}

#how_it_works .second-part .image-box .slider {
  position: absolute;
  top: 0;
  left: 0.1875rem;
  width: 18.75rem;
}

#how_it_works .second-part .image-box .slider .slider-nav {
  position: relative;
  top: 9.0625rem;
  text-align: center;
  color: #9b9b9b;
}

#how_it_works .second-part .image-box .slider .slider-nav p.slider-nav-link {
  font-size: 0.70rem;
  font-family: 'Roboto-bold';
  text-transform: uppercase;
  margin-right: 0.75rem;
  display: inline-block;
}

#how_it_works .second-part .image-box .slider .slider-nav p.slider-nav-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

#how_it_works .second-part .image-box .slider .slider-nav .active {
  border-bottom: 0.125rem solid #000;
  color: #000;
}

#how_it_works .second-part .image-box .slider .slides-box {
  height: 22.5rem;
  width: 100%;
  background: #fff;
  position: relative;
  top: 8.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
}

#how_it_works .second-part .image-box .slider .slides-box .slide img {
  width: 18.75rem;
  height: 100%;
  border: none;
}

#how_it_works .second-part .description-box {
  margin-top: 12.5rem;
  padding-left: 1.875rem;
}

#how_it_works .second-part .description-box .text {
  max-width: 410px;
}

#how_it_works .margin-top {
  margin-top: -10.3125rem !important;
}

#progress {
  background-color: #000;
  background: url("../images/progress-bg.png") no-repeat;
  height: 31.25rem;
}

#progress .description-box {
  margin-top: 9.0625rem;
}

#progress .description-box .title {
  color: #fff;
}

#without_calls_and_sms {
  height: 31.25rem;
}

#without_calls_and_sms .container,
#without_calls_and_sms .row {
  height: 100%;
}

#without_calls_and_sms .image-box img {
  width: 24.4375rem;
  height: 18.3125rem;
}

#without_calls_and_sms .description-box {
  margin-top: 0;
  margin-left: 1.625rem;
}

#without_calls_and_sms .description-box .text {
  max-width: 475px;
}

#motivation {
  height: 31.25rem;
  background: url("../images/motivation-bg.png");
}

#motivation .container,
#motivation .row {
  height: 100%;
}

#motivation .description-box {
  margin-top: 0;
}

#motivation .description-box .title {
  color: #fff;
}

#coaches {
  height: 28.75rem;
}

#coaches .container,
#coaches .row {
  height: 100%;
}

#coaches .owl-carousel {
  margin-top: 4.375rem;
}

#coaches .card {
  max-width: 35rem;
  text-align: center;
  border: none;
}

#coaches .card .photo {
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 auto;
}

#coaches .card .photo img {
  border-radius: 50%;
}

#coaches .card .name {
  margin-top: 0.9375rem;
  color: #000;
  font-family: 'Roboto-bold';
  font-size: 1.25rem;
  line-height: 1.3125rem;
  letter-spacing: 0.019rem;
}

#coaches .card .who,
#coaches .card a.profile {
  margin-top: 0.3125rem;
  color: #a7a7a8;
  font-size: 0.8125rem;
  line-height: 0.875rem;
  letter-spacing: 0.020rem;
}

#coaches .card .about {
  margin: 0.875rem auto 2rem auto;
  max-width: 343px;
  color: #808080;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.01rem;
}

#coaches .card a.profile {
  border-bottom: 0.0625rem solid #a7a7a8;
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
}

#coaches .card a.profile:hover {
  color: #606060;
  border-color: #606060;
  text-decoration: none;
}

#footer {
  height: 43.75rem;
  background: #000;
}

#footer .container {
  height: 100%;
}

#footer .description-box {
  margin-top: 5rem;
}

#footer .mt-15 {
  margin-top: 0.9375rem;
}

#footer .hr {
  margin-top: 5.9375rem;
  height: 0.0625rem;
  background: #696969;
}

#footer .socials {
  margin-top: 2.1875rem;
  margin-bottom: 2.1875rem;
}

#footer .socials a {
  margin-right: 0.875rem;
}

#footer .socials a:hover {
  text-decoration: none;
}

#footer .socials .icon-facebook,
#footer .socials .icon-instagram {
  font-size: 1.55rem;
  vertical-align: middle;
  color: #fff;
}

#footer .links a {
  color: #7f7f7f;
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0.02rem;
}

#footer .copyrights {
  margin-top: 2.5rem;
  color: #5f5f5f;
  font-size: 0.8125rem;
  line-height: 0.875rem;
  letter-spacing: -0.006rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  #header_subscription,
  #header_success {
    height: 100% !important;
  }

  #header_subscription .logo-box,
  #header_success .logo-box {
    margin-top: 1.3125rem !important;
    padding-left: 0.5625rem;
  }

  #header_subscription .logo-box .br-r,
  #header_subscription .logo-box .logo-description,
  #header_success .logo-box .br-r,
  #header_success .logo-box .logo-description {
    display: none;
  }

  #header_subscription .logo-box .logo img,
  #header_success .logo-box .logo img {
    width: 9.375rem;
  }

  #header_subscription .header-title-box,
  #header_success .header-title-box {
    max-width: 15.25rem !important;
    padding-left: 0.5625rem;
    margin-top: 3.4375rem !important;
  }

  #header_subscription .header-title-box .title,
  #header_success .header-title-box .title {
    font-size: 1.4375rem !important;
    line-height: 1.5rem !important;
    letter-spacing: 0.019rem !important;
  }

  #header_subscription .header-title-box .description,
  #header_success .header-title-box .description {
    font-size: 1rem !important;
    margin-bottom: 1.875rem;
  }

  #header_success .header-title-box {
    margin-top: 5rem !important;
  }

  #content {
    height: 100% !important;
  }

  #content .pl-none {
    padding-right: 0.3125rem !important;
  }

  #content form {
    margin-top: 1.75rem !important;
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
  }

  #content form .label {
    max-width: 18.4375rem !important;
    margin-top: 0.25rem;
  }

  #content form .checkbox-custom {
    top: -1.0625rem !important;
  }

  #content form .button {
    margin-top: 1rem !important;
    display: block !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    margin-bottom: 7.1875rem;
  }

  #content .social-box {
    margin-top: 1.5rem !important;
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
  }

  #content .social-box .title {
    font-size: 1.4375rem !important;
    line-height: 1.5rem !important;
    letter-spacing: 0.019rem !important;
  }

  #content .social-box .social-buttons {
    margin-bottom: 7.375rem;
  }

  #content .social-box .social-buttons a {
    max-width: 100% !important;
    padding: 0.75rem 0 0.75rem 3.6rem !important;
  }

  #content .social-box .social-buttons a .icon-instagram,
  #content .social-box .social-buttons a .icon-facebook {
    left: 1.4rem !important;
  }

  #footer h100
.socials {
    margin-top: 1.125rem !important;
  }

  #footer .socials,
  #footer .links-box,
  #footer .copyrights {
    padding-left: 1.375rem !important;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .social-buttons a {
    font-size: 1rem !important;
  }
}
#header_subscription,
#header_success {
  height: 20.9375rem;
  background: #CCFF00;
}

#header_subscription .logo-box .logo-description,
#header_success .logo-box .logo-description {
  color: #000;
  opacity: 0.5;
}

#header_subscription .header-title-box,
#header_success .header-title-box {
  margin-top: 6.5625rem;
  max-width: 25rem;
}

#header_subscription .header-title-box .title,
#header_success .header-title-box .title {
  color: #000;
  font-size: 3rem;
  line-height: 3.1875rem;
  letter-spacing: 0.012rem;
  font-family: 'Roboto-bold';
}

#header_subscription .header-title-box .description,
#header_success .header-title-box .description {
  margin-top: 0.5rem;
  color: #000;
  opacity: 0.5;
  letter-spacing: 0.02rem;
  font-size: 1rem;
}

#content {
  background: #fff;
  height: 30rem;
}

#content .pl-none {
  padding-right: 0;
}

#content form {
  margin-top: 2.8125rem;
  max-width: 26.875rem;
}

#content form .form-control {
  padding: 0.5625rem 1.25rem;
  height: 2.8125rem;
  border-radius: 0.5rem;
  border-color: #ADADAD;
  color: #222326;
  letter-spacing: 0.02rem;
}

#content form .form-control::-webkit-input-placeholder {
  color: #222326;
}

#content form .form-control:-ms-input-placeholder {
  color: #222326;
}

#content form .form-control::-ms-input-placeholder {
  color: #222326;
}

#content form .form-control::placeholder {
  color: #222326;
}

#content form label {
  margin-top: 0.625rem;
}

#content form label .checkbox {
  display: none;
}

#content form label .checkbox-custom {
  position: relative;
  top: -0.0625rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.0625rem solid #ADADAD;
  border-radius: 0.25rem;
}

#content form label .checkbox-custom,
#content form label .label {
  cursor: pointer;
  display: inline-block;
}

#content form label .label {
  max-width: 24.375rem;
  color: #4c4c4c;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.02rem;
}

#content form label .checkbox:checked + .checkbox-custom::before {
  content: "✔";
  display: block;
  position: absolute;
  left: 0.1875rem;
  top: -0.125rem;
  font-size: 1.1rem;
}

#content form .button {
  cursor: pointer;
  margin-top: 2.5rem;
  background: #CCFF00;
  display: block;
  padding: 0.75rem 2.75rem;
  font-family: 'Roboto-bold';
  font-size: 1.125rem;
  line-height: 1.3125rem;
  -webkit-box-shadow: 0 0.03125rem 0 #000000;
  box-shadow: 0 0.03125rem 0 #000000;
  border-radius: 0.625rem;
  border: none;
}

.footer_subscription {
  height: 16.875rem !important;
}
#content .social-box {
  margin-top: 4.6875rem;
}

#content .social-box .title {
  max-width: 21.875rem;
  font-family: 'Roboto-bold';
  font-size: 1.5rem;
  line-height: 1.75rem;
}

#content .social-box .social-buttons {
  margin-top: 1.5625rem;
}

#content .social-box .social-buttons .icon-instagram,
#content .social-box .social-buttons .icon-facebook {
  font-size: 1.5rem;
  position: absolute;
  top: 0.625rem;
  left: 0.6875rem;
}

#content .social-box .social-buttons .icon-instagram {
  left: 0.68rem;
}

#content .social-box .social-buttons a {
  position: relative;
  border-radius: 0.625rem;
  margin-bottom: 0.625rem;
  max-width: 290px;
  display: block;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #fff;
  font-family: 'Roboto-bold';
  padding: 0.75rem 0 0.75rem 2.8875rem;
}

#content .social-box .social-buttons a:hover {
  text-decoration: none;
  color: #dcdcdc;
}

#content .social-box .social-buttons a.facebook {
  background: #3C5997;
}

#content .social-box .social-buttons a.instagram {
  background-color: #b92774;
  /* IE9, iOS 3.2+ */
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2VlNTQzMiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZGMyNTRlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4zNDgiLz48c3RvcCBzdG9wLWNvbG9yPSIjYjUxMzdmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41NzkiLz48c3RvcCBzdG9wLWNvbG9yPSIjNjUyM2NjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==");
  /* Android 2.3- hack (needed for the actual radial gradient) */
  /* Android 2.3 */
  background-image: -webkit-repeating-radial-gradient(left bottom, ellipse farthest-corner, #ee5432 0%, #dc254e 34.8%, #b5137f 57.9%, #6523cc 100%);
  /* IE10+ */
  background-image: repeating-radial-gradient(ellipse farthest-corner at left bottom, #ee5432 0%, #dc254e 34.8%, #b5137f 57.9%, #6523cc 100%);
  background-image: -ms-repeating-radial-gradient(left bottom, ellipse farthest-corner, #ee5432 0%, #dc254e 34.8%, #b5137f 57.9%, #6523cc 100%);
}