@font-face {
  font-family: 'Roboto-medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?iefix") format("eot"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../ffonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?iefix") format("eot"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../ffonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?iefix") format("eot"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../ffonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .jcc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #header .description-box .title,
  #how_it_works .description-box .title {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }

  #header .description-box .text,
  #how_it_works .description-box .text {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    font-size: 0.85rem !important;
  }

  #header .description-box .button,
  #how_it_works .description-box .button {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
    padding: 10px 15px;
  }

  #header {
    height: 400px !important;
    background-size: 120% !important;
  }

  #header .jcc {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }

  #header .logo-box {
    margin-left: 42px;
  }

  #header .description-box {
    margin-top: 70px !important;
    max-width: 290px !important;
    margin-left: 42px;
  }

  #how_it_works .first-part .description-box {
    max-width: 320px;
  }

  #how_it_works .first-part .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 5px;
  }

  #how_it_works .second-part {
    margin-top: -190px !important;
  }

  #how_it_works .second-part .image-box img.slide-box {
    width: 280px !important;
    height: 480px !important;
  }

  #how_it_works .second-part .description-box {
    max-width: 450px;
  }

  #how_it_works .second-part .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 5px;
  }

  #how_it_works .rectangle {
    height: 480px !important;
  }

  #how_it_works .justify-content-between {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  #progress {
    height: 400px !important;
    background-position: 35% center !important;
    background-size: cover !important;
  }

  #progress .description-box {
    margin-top: 127px !important;
    margin-left: 42px;
  }

  #progress .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 5px;
  }

  #progress .description-box .text {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    font-size: 0.85rem !important;
  }

  #progress .description-box .button {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
    padding: 10px 15px;
  }

  #without_calls_and_sms {
    height: 400px !important;
  }

  #without_calls_and_sms .image-box {
    margin-left: 42px;
  }

  #without_calls_and_sms .image-box img {
    width: 330px !important;
    height: 280px !important;
  }

  #without_calls_and_sms .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 5px;
  }

  #without_calls_and_sms .description-box .text {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    font-size: 0.85rem !important;
  }

  #without_calls_and_sms .description-box .button {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
    padding: 10px 15px;
  }

  #motivation {
    height: 400px !important;
    background-position: right center !important;
    background-size: cover !important;
  }

  #motivation .description-box {
    margin-top: -10px !important;
    margin-left: 42px;
  }

  #motivation .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 5px;
  }

  #motivation .description-box .text {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    font-size: 0.85rem !important;
  }

  #motivation .description-box .button {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
    padding: 10px 15px;
  }

  #footer {
    height: 555px !important;
  }

  #footer .description-box {
    margin-left: 42px;
  }

  #footer .description-box .title {
    font-size: 1.5rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 5px;
  }

  #footer .description-box .text {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    font-size: 0.85rem !important;
  }

  #footer .description-box .button {
    font-size: 0.9rem !important;
    line-height: 1.1rem !important;
    padding: 10px 15px;
  }

  #footer .hr {
    margin-top: 65px !important;
    margin-left: -38px;
    width: 842px;
  }

  #footer .socials,
  #footer .links-box,
  #footer .copyrights {
    margin-left: 42px;
  }
}
@media (min-width: 1280px) and (max-width: 1400px) {
  .jcc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #header {
    background-size: 120% !important;
    height: 431px !important;
  }

  #header .description-box {
    margin-top: 70px !important;
    max-width: 430px;
  }

  #how_it_works .first-part .description-box {
    margin-left: 86px;
  }

  #how_it_works .first-part .description-box .title {
    width: 460px;
  }

  #how_it_works .rectangle {
    -webkit-clip-path: polygon(0 41%, 100% 1%, 100% 57%, 0 96%) !important;
    clip-path: polygon(0 41%, 100% 1%, 100% 57%, 0 96%) !important;
    height: 500px !important;
    margin-top: -140px !important;
  }

  #how_it_works .second-part {
    margin-top: -230px !important;
  }

  #how_it_works .second-part .image-box {
    margin-left: 86px;
  }

  #progress {
    background-position: center !important;
  }

  #progress .description-box {
    margin-left: 86px;
  }

  #without_calls_and_sms .image-box img {
    width: 306px !important;
    height: 250px !important;
    margin-left: 86px;
  }

  #without_calls_and_sms .description-box .text {
    max-width: 440px !important;
  }

  #motivation {
    height: 500px !important;
    background-position: right center !important;
    background-size: 125% 100% !important;
    background-repeat: no-repeat !important;
  }

  #motivation .description-box {
    margin-left: 86px;
  }

  #footer .description-box {
    margin-left: 86px;
  }

  #footer .socials {
    margin-left: 93px;
  }

  #footer .links-box {
    margin-left: 93px;
  }

  #footer .copyrights {
    margin-left: 93px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .description-box {
    padding-left: 9px !important;
    padding-right: 9px !important;
    margin-left: 0 !important;
  }

  .description-box a.button {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: block;
    text-align: center;
  }

  #how_it_works .description-box,
  #without_calls_and_sms .description-box,
  #progress .description-box,
  #motivation .description-box {
    text-align: center;
  }

  #how_it_works .description-box .title,
  #without_calls_and_sms .description-box .title,
  #progress .description-box .title,
  #motivation .description-box .title {
    font-size: 1.4375rem !important;
    line-height: 1.5rem !important;
    letter-spacing: 0.019em;
  }

  #how_it_works .description-box .text,
  #without_calls_and_sms .description-box .text,
  #progress .description-box .text,
  #motivation .description-box .text {
    font-size: 0.875rem !important;
    line-height: 1rem !important;
    letter-spacing: 0.01em;
    margin-bottom: 18px !important;
  }

  #header {
    background: url("../images/header_bg-small.png") no-repeat !important;
    height: 525px !important;
    background-size: cover !important;
  }

  #header .logo-box {
    padding-left: 9px;
    margin-top: 23px !important;
  }

  #header .logo-box .br-r,
  #header .logo-box .logo-description {
    display: none;
  }

  #header .logo-box .logo img {
    width: 150px;
  }

  #header .description-box {
    margin-top: 200px !important;
  }

  #header .description-box .title {
    font-size: 2.875rem !important;
    line-height: 2.9375rem !important;
  }

  #header .description-box .text {
    margin-top: 10px !important;
    margin-bottom: 26px !important;
    font-size: 1rem !important;
    line-height: 1.1875rem !important;
    max-width: 285px !important;
    letter-spacing: 0.040em !important;
  }

  #how_it_works .justify-content-between {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  #how_it_works .rectangle {
    display: none;
  }

  #how_it_works .first-part .description-box {
    margin-top: 42px !important;
  }

  #how_it_works .first-part .image-box {
    margin-top: 40px !important;
  }

  #how_it_works .first-part .image-box img {
    max-width: 325px !important;
  }

  #how_it_works .first-part .image-box .author .name {
    font-size: 0.625rem !important;
    line-height: 0.6875rem !important;
    letter-spacing: 0.019em !important;
  }

  #how_it_works .first-part .image-box .author img {
    width: 17px !important;
    height: 17px !important;
  }

  #how_it_works .second-part {
    margin-top: 57px !important;
    margin-bottom: 55px !important;
  }

  #how_it_works .second-part .image-box {
    margin-top: 0 !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 247px !important;
  }

  #how_it_works .second-part .image-box .slider {
    max-width: 247px !important;
    height: 438px;
    width: 241px !important;
  }

  #how_it_works .second-part .image-box .slider .slider-nav {
    top: 118px !important;
  }

  #how_it_works .second-part .image-box .slider .slider-nav p.slider-nav-link {
    font-size: 0.6rem !important;
    margin-right: 6px !important;
  }

  #how_it_works .second-part .image-box .slider .slides-box {
    height: 274px !important;
    width: 241px !important;
    top: 122px !important;
  }

  #how_it_works .second-part .image-box .slider .slides-box .slide img {
    height: 100% !important;
  }

  #how_it_works .second-part .image-box img {
    border: 1px solid #DDDDDD;
    width: 247px !important;
    height: 438px !important;
  }

  #how_it_works .second-part .description-box {
    margin-top: 40px !important;
  }

  #progress {
    height: 525px !important;
    background: url("../images/progress-bg-xs.png") no-repeat !important;
    background-size: cover !important;
  }

  #progress .description-box {
    margin-top: 320px !important;
  }

  #progress .description-box .text {
    margin-bottom: 25px !important;
  }

  #without_calls_and_sms {
    height: 545px !important;
  }

  #without_calls_and_sms .align-items-center {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }

  #without_calls_and_sms .image-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
  }

  #without_calls_and_sms .image-box img {
    max-width: 325px !important;
    max-height: 240px !important;
  }

  #without_calls_and_sms .description-box {
    margin-top: -15px !important;
  }

  #motivation {
    height: 390px !important;
    background: url("../images/motivation-bg-xs.png") no-repeat !important;
    background-size: cover !important;
  }

  #motivation .description-box {
    margin-top: 145px !important;
  }

  #motivation .description-box .text {
    margin-top: 15px !important;
    margin-bottom: 26px !important;
  }

  #coaches {
    height: 400px !important;
  }

  #coaches .owl-carousel {
    margin-top: 50px !important;
  }

  #coaches .owl-dots {
    margin-top: 38px !important;
  }

  #coaches .card {
    padding: 0 9px;
  }

  #footer {
    height: 100% !important;
  }

  #footer .description-box {
    margin-top: 36px !important;
  }

  #footer .description-box .title {
    font-size: 2.5rem !important;
    line-height: 2.5625rem !important;
  }

  #footer .description-box .text {
    margin-bottom: 24px !important;
  }

  #footer .mt-15 {
    padding-left: 25px;
    padding-right: 25px;
  }

  #footer .hr {
    margin-top: 25px !important;
  }

  #footer .socials {
    margin-bottom: 32px !important;
  }

  #footer .socials,
  #footer .links-box,
  #footer .copyrights {
    padding-left: 9px;
    padding-right: 9px;
  }

  #footer .copyrights {
    margin-bottom: 17px;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  #header .description-box .title,
  #footer .description-box .title {
    font-size: 2rem !important;
    line-height: 2.2rem !important;
  }

  #header .copyrights,
  #footer .copyrights {
    font-size: 0.7rem !important;
  }

  #how_it_works .first-part .image-box img {
    max-width: 290px !important;
  }

  #without_calls_and_sms .image-box img {
    max-width: 290px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .jcc,
  .jcc-768 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .description-box {
    margin-left: 0 !important;
    text-align: center;
    margin-top: 150px !important;
    max-width: 100% !important;
  }

  .description-box .title {
    max-width: 100% !important;
    font-size: 2rem !important;
    line-height: 2.3rem !important;
  }

  .description-box .text {
    max-width: 100% !important;
    margin-top: 5px !important;
    font-size: 0.8rem !important;
  }

  #header {
    background-size: 120% 100% !important;
    background-position: left center !important;
  }

  #header .description-box {
    margin-top: 220px !important;
  }

  #how_it_works .justify-content-between {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  #how_it_works .rectangle {
    display: none;
  }

  #how_it_works .first-part .description-box {
    margin-top: 70px !important;
  }

  #how_it_works .image-box {
    margin-top: 80px;
    text-align: center;
  }

  #how_it_works .second-part {
    margin-top: 0 !important;
  }

  #how_it_works .second-part .description-box {
    padding-left: 0px !important;
    margin-top: 70px !important;
  }

  #how_it_works .second-part .image-box {
    max-width: 306px;
    margin-right: auto;
    margin-left: auto;
  }

  #progress {
    height: 525px !important;
    background: url("../images/progress-bg-small.png") no-repeat !important;
    background-size: cover !important;
  }

  #progress .description-box {
    margin-top: 320px !important;
  }

  #without_calls_and_sms {
    height: 650px !important;
  }

  #without_calls_and_sms .image-box {
    margin: 0 auto 0 auto;
  }

  #without_calls_and_sms .description-box {
    margin-top: 0px !important;
  }

  #motivation {
    background-size: cover !important;
    background-position: right center !important;
  }

  #motivation .description-box {
    margin-top: 240px !important;
  }
}
* {
  font-family: 'Roboto-medium';
  font-size: 16px;
}

a.button {
  font-family: 'Roboto-bold';
  text-decoration: none;
  color: #000;
  background: #CCFF00;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  padding: 15px 23px;
  border-radius: 10px;
}

a.button:hover {
  text-decoration: none;
  color: #363636;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

#header .logo-box,
#header_subscription .logo-box,
#header_success .logo-box {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header .logo-box .logo,
#header_subscription .logo-box .logo,
#header_success .logo-box .logo {
  cursor: pointer;
}

#header .logo-box .br-r,
#header_subscription .logo-box .br-r,
#header_success .logo-box .br-r {
  height: 40px;
  background: #757575;
  width: 1px;
  margin-right: 15px;
  margin-left: 15px;
}

#header .logo-box .logo-description,
#header_subscription .logo-box .logo-description,
#header_success .logo-box .logo-description {
  font-size: 0.75rem;
  line-height: 0.8125rem;
  letter-spacing: 0.025em;
}

#header .description-box,
#footer .description-box {
  margin-top: 111px;
}

#header .description-box .title,
#footer .description-box .title {
  color: #fff;
  font-family: 'Roboto-bold';
  font-size: 3.75rem;
  line-height: 3.8125rem;
  letter-spacing: normal;
}

#header .description-box .text,
#footer .description-box .text {
  margin-top: 17px;
  margin-bottom: 40px;
  max-width: 430px;
  color: #969696;
  line-height: 1.1875rem;
  letter-spacing: 0.015em;
}

#header {
  background: url("../images/header_bg.png") no-repeat #000;
  background-size: 100%;
  height: 500px;
}

#header .logo-box .logo-description {
  color: #9B9B9B;
}

#header .description-box {
  max-width: 430px;
}

#how_it_works .description-box,
#progress .description-box,
#without_calls_and_sms .description-box,
#motivation .description-box {
  margin-top: 117px;
}

#how_it_works .description-box .title,
#progress .description-box .title,
#without_calls_and_sms .description-box .title,
#motivation .description-box .title {
  color: #000;
  font-family: 'Roboto-bold';
  font-size: 3rem;
  line-height: 3.1875rem;
  letter-spacing: 0.012em;
}

#how_it_works .description-box .text,
#progress .description-box .text,
#without_calls_and_sms .description-box .text,
#motivation .description-box .text {
  max-width: 375px;
  margin-top: 14px;
  margin-bottom: 40px;
  color: #808080;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.01em;
}

#how_it_works .description-box a.button,
#progress .description-box a.button,
#without_calls_and_sms .description-box a.button,
#motivation .description-box a.button {
  padding: 10px 20px;
  -webkit-box-shadow: 0px 0.5px 0px #000000;
  box-shadow: 0px 0.5px 0px #000000;
}

#how_it_works .first-part .image-box {
  margin-top: 75px;
}

#how_it_works .first-part .image-box .author {
  margin-top: 13px;
}

#how_it_works .first-part .image-box .author img {
  width: 23px;
  height: 23px;
}

#how_it_works .first-part .image-box .author .name {
  font-family: 'Roboto-bold';
  margin-left: 6px;
  font-size: 0.875rem;
  letter-spacing: 0.009em;
  line-height: 0.900rem;
  color: #000;
}

#how_it_works .rectangle {
  margin-top: -208px;
  width: 100%;
  height: 600px;
  background: #CCFF00;
  -webkit-clip-path: polygon(0 50%, 100% 0%, 100% 50%, 0 100%);
  clip-path: polygon(0 50%, 100% 0%, 100% 50%, 0 100%);
}

#how_it_works .second-part {
  margin-top: -265px;
  margin-bottom: 115px;
}

#how_it_works .second-part .image-box {
  position: relative;
}

#how_it_works .second-part .image-box img {
  width: 306px;
  height: 543px;
  border: 1px solid #DDDDDD;
}

#how_it_works .second-part .image-box .slider {
  position: absolute;
  top: 0;
  left: 3px;
  width: 300px;
}

#how_it_works .second-part .image-box .slider .slider-nav {
  position: relative;
  top: 145px;
  text-align: center;
  color: #9b9b9b;
}

#how_it_works .second-part .image-box .slider .slider-nav p.slider-nav-link {
  font-size: 0.70rem;
  font-family: 'Roboto-bold';
  text-transform: uppercase;
  margin-right: 12px;
  display: inline-block;
}

#how_it_works .second-part .image-box .slider .slider-nav p.slider-nav-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

#how_it_works .second-part .image-box .slider .slider-nav .active {
  border-bottom: 2px solid #000;
  color: #000;
}

#how_it_works .second-part .image-box .slider .slides-box {
  height: 360px;
  width: 100%;
  background: #fff;
  position: relative;
  top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
}

#how_it_works .second-part .image-box .slider .slides-box .slide img {
  width: 300px;
  height: 100%;
  border: none;
}

#how_it_works .second-part .description-box {
  margin-top: 200px;
  padding-left: 30px;
}

#how_it_works .second-part .description-box .text {
  max-width: 410px;
}

#progress {
  background-color: #000;
  background: url("../images/progress-bg.png") no-repeat;
  height: 500px;
}

#progress .description-box {
  margin-top: 145px;
}

#progress .description-box .title {
  color: #fff;
}

#without_calls_and_sms {
  height: 500px;
}

#without_calls_and_sms .container,
#without_calls_and_sms .row {
  height: 100%;
}

#without_calls_and_sms .image-box img {
  width: 391px;
  height: 293px;
}

#without_calls_and_sms .description-box {
  margin-top: 0;
  margin-left: 26px;
}

#without_calls_and_sms .description-box .text {
  max-width: 475px;
}

#motivation {
  height: 500px;
  background: url("../images/motivation-bg.png");
}

#motivation .container,
#motivation .row {
  height: 100%;
}

#motivation .description-box {
  margin-top: 0;
}

#motivation .description-box .title {
  color: #fff;
}

#coaches {
  height: 460px;
}

#coaches .container,
#coaches .row {
  height: 100%;
}

#coaches .owl-carousel {
  margin-top: 70px;
}

#coaches .card {
  max-width: 560px;
  text-align: center;
  border: none;
}

#coaches .card .photo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#coaches .card .photo img {
  border-radius: 50%;
}

#coaches .card .name {
  margin-top: 15px;
  color: #000;
  font-family: 'Roboto-bold';
  font-size: 1.25rem;
  line-height: 1.3125rem;
  letter-spacing: 0.019em;
}

#coaches .card .who,
#coaches .card a.profile {
  margin-top: 5px;
  color: #a7a7a8;
  font-size: 0.8125rem;
  line-height: 0.875rem;
  letter-spacing: 0.020em;
}

#coaches .card .about {
  margin: 14px auto 32px auto;
  max-width: 343px;
  color: #808080;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.01em;
}

#coaches .card a.profile {
  border-bottom: 1px solid #a7a7a8;
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
}

#coaches .card a.profile:hover {
  color: #606060;
  border-color: #606060;
  text-decoration: none;
}

#footer {
  height: 700px;
  background: #000;
}

#footer .container {
  height: 100%;
}

#footer .description-box {
  margin-top: 80px;
}

#footer .mt-15 {
  margin-top: 15px;
}

#footer .hr {
  margin-top: 95px;
  height: 1px;
  background: #696969;
}

#footer .socials {
  margin-top: 35px;
  margin-bottom: 35px;
}

#footer .socials a {
  margin-right: 14px;
}

#footer .socials a:hover {
  text-decoration: none;
}

#footer .links a {
  color: #7f7f7f;
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0.02em;
}

#footer .copyrights {
  margin-top: 40px;
  color: #5f5f5f;
  font-size: 0.8125rem;
  line-height: 0.875rem;
  letter-spacing: -0.006em;
}
@media (min-width: 320px) and (max-width: 767px) {
  #header_subscription,
  #header_success {
    height: 100% !important;
  }

  #header_subscription .logo-box,
  #header_success .logo-box {
    margin-top: 21px !important;
    padding-left: 9px;
  }

  #header_subscription .logo-box .br-r,
  #header_subscription .logo-box .logo-description,
  #header_success .logo-box .br-r,
  #header_success .logo-box .logo-description {
    display: none;
  }

  #header_subscription .logo-box .logo img,
  #header_success .logo-box .logo img {
    width: 150px;
  }

  #header_subscription .header-title-box,
  #header_success .header-title-box {
    max-width: 244px !important;
    padding-left: 9px;
    margin-top: 55px !important;
  }

  #header_subscription .header-title-box .title,
  #header_success .header-title-box .title {
    font-size: 1.4375rem !important;
    line-height: 1.5rem !important;
    letter-spacing: 0.019em !important;
  }

  #header_subscription .header-title-box .description,
  #header_success .header-title-box .description {
    font-size: 1rem !important;
    margin-bottom: 30px;
  }

  #header_success .header-title-box {
    margin-top: 80px !important;
  }

  #content {
    height: 100% !important;
  }

  #content .pl-none {
    padding-right: 15px !important;
  }

  #content form {
    margin-top: 28px !important;
    padding-left: 9px;
    padding-right: 9px;
  }

  #content form .label {
    max-width: 295px !important;
    margin-top: 4px;
  }

  #content form .checkbox-custom {
    top: -17px !important;
  }

  #content form .button {
    margin-top: 16px !important;
    display: block !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
    margin-bottom: 115px;
  }

  #content .social-box {
    margin-top: 24px !important;
    padding-left: 9px;
    padding-right: 9px;
  }

  #content .social-box .title {
    font-size: 1.4375rem !important;
    line-height: 1.5rem !important;
    letter-spacing: 0.019em !important;
  }

  #content .social-box .social-buttons {
    margin-bottom: 118px;
  }

  #content .social-box .social-buttons a {
    max-width: 100% !important;
  }

  #footer h100
.socials {
    margin-top: 18px !important;
  }

  #footer .socials,
  #footer .links-box,
  #footer .copyrights {
    padding-left: 22px !important;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .social-buttons a {
    font-size: 1rem !important;
  }
}
#header_subscription,
#header_success {
  height: 335px;
  background: #CCFF00;
}

#header_subscription .logo-box .logo-description,
#header_success .logo-box .logo-description {
  color: #000;
  opacity: 0.5;
}

#header_subscription .header-title-box,
#header_success .header-title-box {
  margin-top: 105px;
  max-width: 400px;
}

#header_subscription .header-title-box .title,
#header_success .header-title-box .title {
  color: #000;
  font-size: 3rem;
  line-height: 3.1875rem;
  letter-spacing: 0.012em;
  font-family: 'Roboto-bold';
}

#header_subscription .header-title-box .description,
#header_success .header-title-box .description {
  margin-top: 8px;
  color: #000;
  opacity: 0.5;
  letter-spacing: 0.02em;
  font-size: 1rem;
}

#content {
  background: #fff;
  height: 480px;
}

#content .pl-none {
  padding-right: 0;
}

#content form {
  margin-top: 45px;
  max-width: 430px;
}

#content form .form-control {
  padding: 9px 20px;
  height: 45px;
  border-radius: 8px;
  border-color: #ADADAD;
  color: #222326;
  letter-spacing: 0.02em;
}

#content form .form-control::-webkit-input-placeholder {
  color: #222326;
}

#content form .form-control:-ms-input-placeholder {
  color: #222326;
}

#content form .form-control::-ms-input-placeholder {
  color: #222326;
}

#content form .form-control::placeholder {
  color: #222326;
}

#content form label {
  margin-top: 10px;
}

#content form label .checkbox {
  display: none;
}

#content form label .checkbox-custom {
  position: relative;
  top: -1px;
  width: 24px;
  height: 24px;
  border: 1px solid #ADADAD;
  border-radius: 4px;
}

#content form label .checkbox-custom,
#content form label .label {
  cursor: pointer;
  display: inline-block;
}

#content form label .label {
  max-width: 390px;
  color: #4c4c4c;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.02em;
}

#content form label .checkbox:checked + .checkbox-custom::before {
  content: "✔";
  display: block;
  position: absolute;
  left: 3px;
  top: -2px;
  font-size: 1.1rem;
}

#content form .button {
  cursor: pointer;
  margin-top: 40px;
  background: #CCFF00;
  display: block;
  padding: 12px 44px;
  font-family: 'Roboto-bold';
  font-size: 1.125rem;
  line-height: 1.3125rem;
  -webkit-box-shadow: 0px 0.5px 0px #000000;
  box-shadow: 0px 0.5px 0px #000000;
  border-radius: 10px;
  border: none;
}

.footer_subscription {
  height: 270px !important;
}
#content .social-box {
  margin-top: 75px;
}

#content .social-box .title {
  max-width: 350px;
  font-family: 'Roboto-bold';
  font-size: 1.5rem;
  line-height: 1.75rem;
}

#content .social-box .social-buttons {
  margin-top: 25px;
}

#content .social-box .social-buttons a {
  position: relative;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 290px;
  display: block;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #fff;
  font-family: 'Roboto-bold';
  padding: 12px 0 12px 43px;
}

#content .social-box .social-buttons a::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 25px;
  top: 9px;
  left: 11px;
}

#content .social-box .social-buttons a:hover {
  text-decoration: none;
  color: #dcdcdc;
}

#content .social-box .social-buttons a.facebook {
  background: #3C5997;
}

#content .social-box .social-buttons a.facebook::before {
  background: url("../images/facebook.svg");
}

#content .social-box .social-buttons a.instagram {
  background-color: #b92774;
  /* IE9, iOS 3.2+ */
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2VlNTQzMiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZGMyNTRlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4zNDgiLz48c3RvcCBzdG9wLWNvbG9yPSIjYjUxMzdmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41NzkiLz48c3RvcCBzdG9wLWNvbG9yPSIjNjUyM2NjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==");
  /* Android 2.3- hack (needed for the actual radial gradient) */
  /* Android 2.3 */
  background-image: -webkit-repeating-radial-gradient(left bottom, ellipse farthest-corner, #ee5432 0%, #dc254e 34.8%, #b5137f 57.9%, #6523cc 100%);
  /* IE10+ */
  background-image: repeating-radial-gradient(ellipse farthest-corner at left bottom, #ee5432 0%, #dc254e 34.8%, #b5137f 57.9%, #6523cc 100%);
  background-image: -ms-repeating-radial-gradient(left bottom, ellipse farthest-corner, #ee5432 0%, #dc254e 34.8%, #b5137f 57.9%, #6523cc 100%);
}

#content .social-box .social-buttons a.instagram::before {
  background: url("../images/instagram.svg");
}