#content .social-box {
  margin-top: 4.6875rem; }
  #content .social-box .title {
    max-width: 21.875rem;
    font-family: 'Roboto-bold';
    font-size: 1.5rem;
    line-height: 1.75rem; }
  #content .social-box .social-buttons {
    margin-top: 1.5625rem; }
    #content .social-box .social-buttons .icon-instagram, #content .social-box .social-buttons .icon-facebook {
      font-size: 1.5rem;
      position: absolute;
      top: 0.625rem;
      left: 0.6875rem; }
    #content .social-box .social-buttons .icon-instagram {
      left: 0.68rem; }
    #content .social-box .social-buttons a {
      position: relative;
      border-radius: 0.625rem;
      margin-bottom: 0.625rem;
      max-width: 290px;
      display: block;
      font-size: 1.125rem;
      line-height: 1.3125rem;
      color: #fff;
      font-family: 'Roboto-bold';
      padding: 0.75rem 0 0.75rem 2.8875rem; }
      #content .social-box .social-buttons a:hover {
        text-decoration: none;
        color: #dcdcdc; }
    #content .social-box .social-buttons a.facebook {
      background: #3C5997; }
    #content .social-box .social-buttons a.instagram {
      background-color: #b92774;
      /* IE9, iOS 3.2+ */
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2VlNTQzMiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZGMyNTRlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4zNDgiLz48c3RvcCBzdG9wLWNvbG9yPSIjYjUxMzdmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41NzkiLz48c3RvcCBzdG9wLWNvbG9yPSIjNjUyM2NjIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
      /* Android 2.3- hack (needed for the actual radial gradient) */
      /* Android 2.3 */
      background-image: -webkit-repeating-radial-gradient(left bottom, ellipse farthest-corner, #ee5432 0%, #dc254e 34.8%, #b5137f 57.9%, #6523cc 100%);
      /* IE10+ */
      background-image: repeating-radial-gradient(ellipse farthest-corner at left bottom, #ee5432 0%, #dc254e 34.8%, #b5137f 57.9%, #6523cc 100%);
      background-image: -ms-repeating-radial-gradient(left bottom, ellipse farthest-corner, #ee5432 0%, #dc254e 34.8%, #b5137f 57.9%, #6523cc 100%); }
